<app-section-divider [title]="'About Me'"></app-section-divider>
<div class="section-container">
  <mat-card>
    <mat-card-content>
      <div>
        I am currently working as a Software Developer at Vendasta Technologies in Saskatoon, SK. I specialize in
        frontend web development, using Angular 9 and RxJs. I also do occasional backend development using GoLang and
        Python 2.7.
      </div>
      <div class="spacer-20"></div>
      <div>
        I have a degree in Chemical Engineering from the University of Saskatchewan, and have worked in various engineering
        roles before my transition to software. I am presently finishing up an additional degree in Computer Science on the
        side while working.
      </div>
    </mat-card-content>
  </mat-card>
</div>
