<app-section-divider [title]="'About Me'"></app-section-divider>
<div class="about-me-container">
  <mat-card>
    <mat-card-content>
      I am currently working as a Software Developer at Vendasta Technologies in Saskatoon, SK. I have a degree in
      Chemical Engineering from the University of Saskatchewan, and have worked in various engineering roles before my
      transition to software. I am presently finishing up an additional degree in Computer Science on the side while
      working.
    </mat-card-content>
  </mat-card>
</div>
