<app-section-divider [title]="'Personal Projects'"></app-section-divider>
<div class="projects-container">
  <mat-card>
    The following is a list of projects in various states of development. This page will be continuously updated with
    new projects as they are created. Full source code and many more projects can be viewed on my
    <a href="https://github.com/jefftoppings" target="_blank" class="bright-link">GitHub</a>.
  </mat-card>
  <div class="spacer-40"></div>
  <mat-card>
    <mat-card-title>Stickman Dodgeball</mat-card-title>
    <mat-card-subtitle>Android (Java)</mat-card-subtitle>
    <img mat-card-image src="../../assets/project-screenshots/wrenchgame.png"/>
    <mat-card-content>
      A collision-based game developed for Android mobile devices. In this game, wrenches are randomly spawned and it
      is up to the user to dodge them. Users gain points and can unlock new outfits through achieving a high enough
      score.
    </mat-card-content>
    <mat-card-footer>
      <a href="https://github.com/jefftoppings/WrenchGame" target="_blank">
        <button mat-button class="source-code-button">Source Code</button>
      </a>
      <a href="https://play.google.com/store/apps/details?id=jeff.game.wrenchgame" target="_blank">
        <button mat-button class="source-code-button">Google Play Store</button>
      </a>
    </mat-card-footer>
  </mat-card>
  <div class="spacer-40"></div>
  <mat-card>
    <mat-card-title>Angry Cloud</mat-card-title>
    <mat-card-subtitle>Python</mat-card-subtitle>
    <img mat-card-image src="../../assets/project-screenshots/angrycloud.png"/>
    <mat-card-content>
      A collision based game developed with Python and the Pygame module. Users control a racecar and attempt to dodge
      all of the raindrops. The more drops that are avoided results in a higher score and increased rate of the
      raindrops falling.
    </mat-card-content>
    <mat-card-footer>
      <a href="https://github.com/jefftoppings/angry_cloud_game" target="_blank">
        <button mat-button class="source-code-button">Source Code</button>
      </a>
    </mat-card-footer>
  </mat-card>
  <div class="spacer-40"></div>
  <mat-card>
    <mat-card-title>Wizard Scorekeeper</mat-card-title>
    <mat-card-subtitle>Python</mat-card-subtitle>
    <img mat-card-image src="../../assets/project-screenshots/wizardscorekeeper.png"/>
    <mat-card-content>
      A Graphical User Interface for keeping score of the card game <em>Wizard</em>. It was developed using Python and
      the Tkinter library. The Wizard Scorekeeper can keep track of the scores of 3-6 players, and export a .csv file
      with the results at the end of the game.
    </mat-card-content>
    <mat-card-footer>
      <a href="https://github.com/jefftoppings/wizard-scorekeeper" target="_blank">
        <button mat-button class="source-code-button">Source Code</button>
      </a>
    </mat-card-footer>
  </mat-card>
  <div class="spacer-40"></div>
  <mat-card>
    <mat-card-title>JeffToppings.ca</mat-card-title>
    <mat-card-subtitle>Angular 9</mat-card-subtitle>
    <mat-card-content>
      This website was developed using Angular 9. I plan to continuously update it as I further develop more
      applications. To see the source code for this website, clink on the link below.
    </mat-card-content>
    <mat-card-footer>
      <a href="https://github.com/jefftoppings/portfolio-website" target="_blank">
        <button mat-button class="source-code-button">Source Code</button>
      </a>
    </mat-card-footer>
  </mat-card>
</div>
