<div class="photo-title-container section-container">
  <div class="picture-div"></div>
  <div class="flex-container job-title">
    Software Engineer
  </div>
  <div class="flex-container links-container">
    <a href="mailto:toppingsjeff@gmail.com">
      <button mat-button color="primary">Email</button>
    </a>
    <a href="https://linkedin.com/in/jefftoppings" target="_blank">
      <button mat-button color="primary">LinkedIn</button>
    </a>
    <a href="https://github.com/jefftoppings" target="_blank">
      <button mat-button color="primary">GitHub</button>
    </a>
  </div>
</div>
