@import '~@angular/material/theming';

@include mat-core();
$portfolio-website-primary: mat-palette($mat-blue);
$portfolio-website-accent: mat-palette($mat-amber, A200, A100, A400);
$portfolio-website-warn: mat-palette($mat-red);
$portfolio-website-theme: mat-dark-theme($portfolio-website-primary, $portfolio-website-accent, $portfolio-website-warn);
@include angular-material-theme($portfolio-website-theme);

$dark-theme-background: #303030;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $dark-theme-background;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-xs-1 {
  width: 8.333%;
}

.col-xs-2 {
  width: 16.667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.333%;
}

.col-xs-5 {
  width: 41.667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333%;
}

.col-xs-8 {
  width: 66.667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.333%;
}

.col-xs-11 {
  width: 91.667%;
}

.col-xs-12 {
  width: 100%;
}
